/* App.css */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Light background color */
}

.App-header {
  background-color: #007bff;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.App-description {
  margin: 10px 0 20px 0;
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.port-input {
  margin: 10px;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.port-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field {
  width: 100px;
  padding: 5px;
  border: 2px solid #007bff;
  border-radius: 4px;
  font-size: 1rem;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  margin-top: 20px;
}

.predictions-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.predictions-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.predictions-list {
  list-style-type: none;
  padding: 0;
}

.prediction-item {
  padding: 10px 0;
  font-size: 1.1rem;
  color: #007bff;
}
