/* App.css */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #f0f8ff;
}

.App-header {
  background-color: #007bff;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 2.5rem;
}

.current-date, .prediction-date {
  font-size: 1.8rem; /* Larger date and prediction date */
  font-weight: bold;
  margin-top: 10px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.port-input {
  margin: 10px;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.port-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100px;
  padding: 5px;
  border: 2px solid #007bff;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.prediction-result {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #007bff;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  margin-top: 20px;
}
